<!DOCTYPE html>
<html>
	<head>
		<title>pollugraphics</title>
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
		<style>
			.footer {
				margin-top: 20px;		
			}
			#content{
				height: 100%;
			}
			#left {
				float: left;
				width: 50%;
				height: 100%;
			}
			#right {
				float: left;
				width: 50%;
				height: 100%;
			}
		</style>
		<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
		<a href="{% url 'pollugraphics:index'%}"><img src="http://i.imgur.com/uI9BAKY.png"/ style="max-width:50%; max-height:50%; margin-left:20px"></a>
	</head>
	<body>
	<div class="container">
		<h1>{% block heading %}{% endblock %}</h1>

		<div id="content">
			{% block content %}{% endblock %}
		</div>
	
		<div class="footer">
			<p class="muted pagination-centered">Created by: Peggy Li, Austin Lu &amp; Lawrence Lin</p>
		</div>
	</div>
	</body>
</html>
