{% extends "pollugraphics/base.html" %}

<!-- county name and state -->
{% block heading %}{{county.name}} County, {{county.state.name}}{% endblock %}

{% block content %}

<!-- county demographics data -->
<h2>Demographic Data</h2>

Population density:
Median income:
Unemployment rate:
% with high school degree:
% with bachelors degree:

<!-- county pollution data -->
<h2>Industrial Pollution Data</h2>

Carbon monoxide:

<!-- compare to 3 similar counties  -->
<h2>Compare to</h2>
{% for c in comps %}
		<b><a href="../{{c.id}}">{{c.name}} County, {{c.state}}</a></b></br>
{% endfor %}
{% endblock %}
