{% extends "pollugraphics/base.html" %}

<!-- county name and state -->
{% block heading %}{{county.name}} County, {{county.state.name}}{% endblock %}

{% block content %}

<!-- county demographics data -->
<h2>Demographic Data</h2>

<ul>
	<li>Population density: {{county.population_density}}</li>
	<li>Median income: {{county.median_income}}</li>
	<li>Unemployment rate: {{county.unemployment_rate}}</li>
	<li>% with high school degree: {{county.percent_hs}}</li>
	<li>% with bachelors degree: {{county.percent_bachelors}}</li>
</ul>

<!-- county pollution data -->
<h2>Industrial Pollution Data</h2>

Carbon monoxide:

<!-- compare to 3 similar counties  -->
<h2>Compare to</h2>
{% for c in comps %}
		<b><a href="../{{c.id}}">{{c.name}} County, {{c.state}}</a></b></br>
{% endfor %}
{% endblock %}
