{% extends "pollugraphics/base.html" %}

<!-- county name and state -->
{% block heading %}{{county.name}} County, {{county.state.name}}{% endblock %}

{% block content %}

<!-- county demographics data -->
<h2>Demographic Data</h2>

<ul>
	<li>Population density: {{county.population_density}}</li>
	<li>Median income: {{county.median_income}}</li>
	<li>Unemployment rate: {{county.unemployment_rate}}</li>
	<li>% with high school degree: {{county.percent_hs}}</li>
	<li>% with bachelors degree: {{county.percent_bachelors}}</li>
</ul>

<!-- county pollution data -->
<h2>Industrial Pollution Data</h2>
<ul>
	<li>Carbon monoxide (tons): {{aggPollution.0.normalize}} from <b><a href="../{{county.id}}/CO">{{aggPollution.7}} facilit{{ aggPollution.7 |pluralize:"y,ies" }}</a></b></li>
	<li>Nitrogen oxides (tons): {{aggPollution.1.normalize}} from <b><a href="../{{county.id}}/NOx">{{aggPollution.8}} facilit{{ aggPollution.8 |pluralize:"y,ies" }}</a></b></li>
	<li>Sulfur dioxide (tons): {{aggPollution.2.normalize}} from <b><a href="../{{county.id}}/SO2">{{aggPollution.9}} facilit{{ aggPollution.9 |pluralize:"y,ies" }}</a></b></li>
	<li>Particulate matter PM-10 (tons): {{aggPollution.3.normalize}} from <b><a href="../{{county.id}}/PM10">{{aggPollution.10}} facilit{{ aggPollution.10 |pluralize:"y,ies" }}</a></b></li>
	<li>Lead (tons): {{aggPollution.4.normalize}} from <b><a href="../{{county.id}}/lead">{{aggPollution.11}} facilit{{ aggPollution.11 |pluralize:"y,ies" }}</a></b></li>
	<li>Mercury (lbs): {{aggPollution.5.normalize}} from <b><a href="../{{county.id}}/mercury">{{aggPollution.12}} facilit{{ aggPollution.12 |pluralize:"y,ies" }}</a></b></li>
</ul>

<h3>Find similar counties based on:</h3> 
<form action="{% url 'pollugraphics:compare_county' county.id %}" method="get">
	<!-- {{ form.as_p }} -->
	<!-- select whether or not to impose same-state restriction -->
	<label>Restrict search to same state as {{ county.name }} County? </label>
	<input type="radio" name="state" value="yes">Yes
	<input type="radio" name="state" value="no">No

	<!-- select a single attribute to sort by -->
	<label>Compare by:</label>
	<select name="sort">
		<option value="population_density">Population Density</option>
		<option value="median_income">Median Income</option>
		<option value="unemployment_rate">Unemployment Rate</option>
		<option value="percent_hs">Percent with HS Degree</option>
		<option value="percent_bachelors">Percent with Bachelors Degree</option>
	</select>
	<input id="submit" type="submit" value="Find similar counties" />
</form>

{% endblock %}

