{% extends "pollugraphics/base.html" %}

{% block heading %}compare two counties
{% endblock %}


{% block content %}

<form>
<h3>compare</h3>
<select name="county" class="county" id = "county1">
{% for c in counties %}
    <option value="{{ c.id }}">{{ c }}</option>
{% endfor %}
</select>

<h3>with</h3>
<select name="county" class="county" id = "county2">
{% for c in counties %}
    <option value="{{ c.id }}">{{ c }}</option>
{% endfor %}
</select>
<input type="button" id="submit" value="Compare" >
</form>

{% endblock %}