{% extends "pollugraphics/base.html" %}

<!-- county name and state -->
{% block heading %}{{facility.name}}{% endblock %}

{% block content %}

<!-- facility geographic data -->
<h2>Geographic Data</h2>

<ul>
	<li>Address: {{facility.address}}</li>
	<li>City: {{facility.city}}</li>
	<li>County: {{facility.county}}</li>
	<li>State: {{facility.state}}</li>
	<li>Industry: {{facility.industry}}</li>
	<li>Latitude: {{facility.latitude}}</li>
	<li>Longitude: {{facility.longitude}}</li>
</ul>

<!-- facility pollution data -->
<h2>Pollution Data</h2>
<ul>
	<li>Carbon monoxide (tons): {{facilitypollution.carbon_monoxide}} </li>
	<li>Nitrogen oxides (tons): {{facilitypollution.nitrogen_oxides}} </li>
	<li>Sulfur dioxide (tons): {{facilitypollution.sulfur_dioxide}} </li>
	<li>Particulate matter PM-10 (tons): {{facilitypollution.particulate_matter_10}} </li>
	<li>Lead (tons): {{facilitypollution.lead}} </li>
	<li>Mercury (lbs): {{facilitypollution.mercury}} </li>
	
</ul>

<!-- Google Maps API -->
<script>
	function initialize() {
	  var latlng = new google.maps.LatLng(parseFloat("{{facility.latitude}}"), parseFloat("{{facility.longitude}}"));
	  
	  var mapOptions = {
		zoom: 13,
		center: latlng
	  };
	  
	  var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
	  
	  var marker = new google.maps.Marker({
        position: latlng,
        map: map,
	  });
	  
	  var infowindow = new google.maps.InfoWindow({
        content: "{{facility.name}}"
	  });
	  
	  infowindow.open(map,marker);
	}

	function loadScript() {
	  var script = document.createElement('script');
	  script.type = 'text/javascript';
	  script.src = 'https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&' +
		  'callback=initialize';
	  document.body.appendChild(script);
	}

	window.onload = loadScript;
</script>

<div id="map-canvas" style="height:400px; width:400px;"></div>

{% endblock %}
