{% extends "pollugraphics/base.html" %}
  
{% block content %}
<h2>Look up one county</h2>
<form>
<select name="county" id = "countyChoice">
{% for c in counties %}
        <option value="{{ c.id }}">{{ c }}</option>
{% endfor %}
</select>
</form>

<input type="button" id="submitButton" value="Submit">
<script>

var submitButton = document.getElementById("submitButton");

submitButton.onclick=function(){
	var e = document.getElementById("countyChoice");
	var countyid = e.options[e.selectedIndex].value;
	window.location.href = "county/" + countyid;
}     
</script>

<br><br><br>

<h2>Search by facility</h2>

{% if error %}
        <p style="color: red;">Please submit a search term.</p>
{% endif %}

<form action="{% url 'pollugraphics:search' %}" method="get">
Facility name:<input type="text" name="facilityChoice">
<input type="submit" value="Submit">
</form>

{% endblock %}
