{% extends "pollugraphics/base.html" %}
 
{% block heading %}select a county to begin
{% endblock %}
 
{% block content %}
<form>
<select name="county" id = "countyChoice">
{% for c in counties %}
        <option value="{{ c.id }}">{{ c }}</option>
{% endfor %}
</select>
</form>

<input type="button" id="submitButton" value="Submit">
<script>

var submitButton = document.getElementById("submitButton");

submitButton.onclick=function(){
	var e = document.getElementById("countyChoice");
	var countyid = e.options[e.selectedIndex].value;
	window.location.href = "county/" + countyid;
}     
</script>
{% endblock %}
