{% extends "pollugraphics/base.html" %}

<!-- county name and state -->
{% block heading %}{{county.name}} County, {{county.state.name}}{% endblock %}
{% block content %}

<!-- county demographics data -->
<h2>Top 10 polluters of {{pollutant}}</h2>
<table cellpadding="5%">
<tr><th>Facility name</th><th>City</th><th>{{pollutant}} emission</th></tr>
{% for p in polluters %}
     <tr><td><a href="/CS316Project/django/pollugraphics/facility/{{p.eis_id}}">{{p.name}}</a></td><td>{{p.city}}</td><td>{{p.pollute.normalize}}</td><tr>
{% endfor %}
</table>


Back to <a href="/CS316Project/django/pollugraphics/county/{{county.id}}">county</a>
{% endblock %}
